{# templates/university_degree/link.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h1>Lier un IUT à un BUT</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
</div>
{% endblock %}